@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

html, body, .wufoo {
    color: #333;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

/* Logo */
#logo a {display: none;}

/* Backgrounds */
html{background-image:none;background-color:transparent;}
#logo{background-image:none;background-color:transparent;}
#container{background:transparent}
.wufoo input, .wufoo input.text, .wufoo textarea.textarea{
	border: 0;
	box-shadow: none;
	border-radius: 5px;
	background: #ddd;
	padding: 10px 20px;
	width: 300px;
	max-width: 100%;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	margin: 0 2% 10px 0;
}

.wufoo input.text:focus, .wufoo .instruct{background-color:#fff}

.wufoo input.submit{
	border: 0;
	box-shadow: none;
	background-color: transparent;
	font-weight: 800;
	font-size: 12px;
	width: auto;
	border: 1px solid #ccc;
	color: #999;
	text-transform: uppercase;
	transition: all .2s ease-in-out;
}

.wufoo input.submit:hover{
	color: #fff;
	background-color: #3397d6;
	border-color: #fafafa;
}

.wufoo li.focused {
  background-color: transparent;
}

/* Borders */
#container{border:0}
.wufoo .info{border-bottom:0}
.wufoo .instruct{border:0}

/* Typography */
.wufoo .info h2{
	font-weight: 400;
	font-size: 20px;
	margin-top: 0;
}
.wufoo .info div,.wufoo .section h3,.wufoo .section div,.wufoo label.desc, .wufoo legend.desc,.wufoo input.text, .wufoo textarea.textarea, .wufoo select.select, .wufoo label.choice{
	font-size:inherit;font-family:inherit;color:inherit
}
.wufoo li div, .wufoo li div label, .wufoo li span label{font-family:inherit;color:inherit}
.wufoo label.choice{color:inherit}
.wufoo .instruct{font-size:80%;font-family:inherit;color:inherit
}

@media only screen and (min-width: 1160px) {
	html, body, .wufoo{
		text-align: left;
	}
}